In [43]:
import pandas as pd
import numpy as np
import seaborn as sns 
from scipy import stats
from scipy.stats import chi2_contingency 
import matplotlib.pyplot as plt

In [3]:
transactions = pd.read_csv('C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\train_transaction.csv')
transactions

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.50,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.00,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.00,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.00,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.00,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,3577535,0,15811047,49.00,W,6550,NaN,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590536,3577536,0,15811049,39.50,W,10444,225.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590537,3577537,0,15811079,30.95,W,12037,595.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590538,3577538,0,15811088,117.00,W,7826,481.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590539,3577539,0,15811131,279.95,W,15066,170.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
transactions.drop(columns=['V1','V2','V3','V4','V5','V6','V7','V8','V9','V10','V11','V12','V13','V14','V15','V16','V17','V18','V19','V20','V21','V21','V22','V23','V24','V25','V26','V27','V28','V29','V30','V31','V32','V33','V34','V35','V36','V37','V38','V39','V40','V41','V42','V43','V44','V45','V46','V47','V48','V49','V50','V51','V52','V53','V54','V55','V56','V57','V58','V59','V60','V61','V62','V63','V64','V65','V66','V67','V68','V69','V70','V71','V72','V73','V74','V75','V76','V77','V78','V79','V80','V81','V82','V83','V84','V85','V86','V87','V88','V89','V90','V91','V92','V93','V94','V95','V96','V97','V98','V99','V100','V101','V102','V103','V104','V105','V106','V107','V108','V109','V110','V111','V112','V113','V114','V115','V116','V117','V118','V119','V120','V121','V122','V123','V124','V125','V126','V127','V128','V129','V130','V131','V132','V133','V134','V135','V136','V137','V138','V139','V140','V141','V142','V143','V144','V145','V146','V147','V148','V149','V150','V151','V152','V153','V154','V155','V156','V157','V158','V159','V160','V161','V162','V163','V164','V165','V166','V167','V168','V169','V170','V171','V172','V173','V174','V175','V176','V177','V178','V179','V180','V181','V182','V183','V184','V185','V186','V187','V188','V189','V190','V191','V192','V193','V194','V195','V196','V197','V198','V199','V200','V201','V202','V203','V204','V205','V206','V207','V208','V209','V210','V211','V212','V213','V214','V215','V216','V217','V218','V219','V220','V221','V222','V223','V224','V225','V226','V227','V228','V229','V230','V231','V232','V233','V234','V235','V236','V237','V238','V239','V240','V241','V242','V243','V244','V245','V246','V247','V248','V249','V250','V251','V252','V253','V254','V255','V256','V257','V258','V259','V260','V261','V262','V263','V264','V265','V266','V267','V268','V269','V270','V271','V272','V273','V274','V275','V276','V277','V278','V279','V280','V281','V282','V283','V284','V285','V286','V287','V288','V289','V290','V291','V292','V293','V294','V295','V296','V297','V298','V299','V300','V301','V302','V303','V304','V305','V306','V307','V308','V309','V310','V311','V312','V313','V314','V315','V316','V317','V318','V319','V320','V321','V322','V323','V324','V325','V326','V327','V328','V329','V330','V331','V332','V333','V334','V335','V336','V337','V338','V339'], inplace=True)

In [5]:
transactions

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,D15,M1,M2,M3,M4,M5,M6,M7,M8,M9
0,2987000,0,86400,68.50,W,13926,NaN,150.0,discover,142.0,...,0.0,T,T,T,M2,F,T,NaN,NaN,NaN
1,2987001,0,86401,29.00,W,2755,404.0,150.0,mastercard,102.0,...,0.0,NaN,NaN,NaN,M0,T,T,NaN,NaN,NaN
2,2987002,0,86469,59.00,W,4663,490.0,150.0,visa,166.0,...,315.0,T,T,T,M0,F,F,F,F,F
3,2987003,0,86499,50.00,W,18132,567.0,150.0,mastercard,117.0,...,111.0,NaN,NaN,NaN,M0,T,F,NaN,NaN,NaN
4,2987004,0,86506,50.00,H,4497,514.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,3577535,0,15811047,49.00,W,6550,NaN,150.0,visa,226.0,...,56.0,T,T,T,M0,T,F,F,F,T
590536,3577536,0,15811049,39.50,W,10444,225.0,150.0,mastercard,224.0,...,0.0,T,F,F,M0,F,T,F,F,F
590537,3577537,0,15811079,30.95,W,12037,595.0,150.0,mastercard,224.0,...,0.0,T,F,F,NaN,NaN,T,NaN,NaN,NaN
590538,3577538,0,15811088,117.00,W,7826,481.0,150.0,mastercard,224.0,...,22.0,T,T,T,M0,F,T,NaN,NaN,NaN
590539,3577539,0,15811131,279.95,W,15066,170.0,150.0,mastercard,102.0,...,1.0,T,F,F,NaN,NaN,T,F,F,F

In [42]:
transactions.groupby('card4')['isFraud'].mean()

card4
american express    0.028698
discover            0.077282
mastercard          0.034331
visa                0.034756
Name: isFraud, dtype: float64

In [37]:
observed = pd.crosstab(transactions['card4'],transactions['isFraud'])
print(observed)

isFraud                0      1
card4
american express    8089    239
discover            6137    514
mastercard        182721   6496
visa              371394  13373

In [38]:
observed.values

array([[  8089,    239],
       [  6137,    514],
       [182721,   6496],
       [371394,  13373]], dtype=int64)

In [40]:
expected = stats.chi2_contingency(observed)

In [41]:
expected

(364.87413919008776,
 8.969833608323728e-79,
 3,
 array([[8.03640271e+03, 2.91597292e+02],
        [6.41812133e+03, 2.32878673e+02],
        [1.82591740e+05, 6.62525995e+03],
        [3.71294736e+05, 1.34722641e+04]]))

In [39]:
chi2, p, dof, expected = chi2_contingency(observed.values)
print(f'The test statistic is {chi2}. \nThe p value is {p}.')

The test statistic is 364.87413919008776.
The p value is 8.969833608323728e-79.

In [44]:
sns.distplot(random.chisquare(df=3, size=1000), hist=False)
plt.show()

NameError: name 'random' is not defined

In [8]:
#transactions.to_csv(r'C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\\updated_transactions.csv', index = False)

In [9]:
visa = transactions.loc[:, ['TransactionAmt', 'card4']]
visa

        TransactionAmt       card4
0                68.50    discover
1                29.00  mastercard
2                59.00        visa
3                50.00  mastercard
4                50.00  mastercard
...                ...         ...
590535           49.00        visa
590536           39.50  mastercard
590537           30.95  mastercard
590538          117.00  mastercard
590539          279.95  mastercard

[590540 rows x 2 columns]

In [6]:
visa_nfraud = transactions.loc[(transactions['card4'] == 'visa') & (transactions['isFraud'] == 0)]
visa_nfraud

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,D15,M1,M2,M3,M4,M5,M6,M7,M8,M9
2,2987002,0,86469,59.00,W,4663,490.0,150.0,visa,166.0,...,315.0,T,T,T,M0,F,F,F,F,F
5,2987005,0,86510,49.00,W,5937,555.0,150.0,visa,226.0,...,0.0,T,T,T,M1,F,T,NaN,NaN,NaN
6,2987006,0,86522,159.00,W,12308,360.0,150.0,visa,166.0,...,0.0,T,T,T,M0,F,F,T,T,T
7,2987007,0,86529,422.50,W,12695,490.0,150.0,visa,226.0,...,0.0,NaN,NaN,NaN,M0,F,F,NaN,NaN,NaN
8,2987008,0,86535,15.00,H,2803,100.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590525,3577525,0,15810866,57.95,W,11942,570.0,150.0,visa,226.0,...,652.0,T,T,T,NaN,NaN,T,F,T,T
590527,3577527,0,15810883,189.95,W,6453,555.0,150.0,visa,226.0,...,15.0,T,F,F,NaN,NaN,T,NaN,NaN,NaN
590531,3577531,0,15810935,400.00,R,6019,583.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590533,3577533,0,15811029,107.95,W,13071,321.0,150.0,visa,226.0,...,6.0,T,T,T,NaN,NaN,F,F,F,T
590535,3577535,0,15811047,49.00,W,6550,NaN,150.0,visa,226.0,...,56.0,T,T,T,M0,T,F,F,F,T

In [7]:
visa_fraud = transactions.loc[(transactions['card4'] == 'visa') & (transactions['isFraud'] == 1)]
visa_fraud

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,D15,M1,M2,M3,M4,M5,M6,M7,M8,M9
203,2987203,1,89760,445.000,W,18268,583.0,150.0,visa,226.0,...,374.0,NaN,NaN,NaN,M0,F,T,NaN,NaN,NaN
240,2987240,1,90193,37.098,C,13413,103.0,185.0,visa,137.0,...,0.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
243,2987243,1,90246,37.098,C,13413,103.0,185.0,visa,137.0,...,0.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
245,2987245,1,90295,37.098,C,13413,103.0,185.0,visa,137.0,...,0.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
288,2987288,1,90986,155.521,C,16578,545.0,185.0,visa,226.0,...,0.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590350,3577350,1,15807118,59.000,W,4383,271.0,150.0,visa,226.0,...,0.0,T,T,F,M0,F,T,F,T,T
590354,3577354,1,15807171,125.665,C,14337,228.0,106.0,visa,137.0,...,0.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
590361,3577361,1,15807368,1224.000,W,3278,453.0,150.0,visa,226.0,...,382.0,T,T,T,M0,T,T,F,F,T
590372,3577372,1,15807758,117.000,W,14037,111.0,150.0,visa,226.0,...,0.0,T,T,T,M0,F,T,F,F,T
590526,3577526,1,15810876,250.000,R,1214,174.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
mc_nfraud = transactions.loc[(transactions['card4'] == 'mastercard') & (transactions['isFraud'] == 0)]
mc_nfraud

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,D15,M1,M2,M3,M4,M5,M6,M7,M8,M9
1,2987001,0,86401,29.000,W,2755,404.0,150.0,mastercard,102.0,...,0.0,NaN,NaN,NaN,M0,T,T,NaN,NaN,NaN
3,2987003,0,86499,50.000,W,18132,567.0,150.0,mastercard,117.0,...,111.0,NaN,NaN,NaN,M0,T,F,NaN,NaN,NaN
4,2987004,0,86506,50.000,H,4497,514.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2987009,0,86536,117.000,W,17399,111.0,150.0,mastercard,224.0,...,318.0,T,T,T,M0,T,T,NaN,NaN,NaN
10,2987010,0,86549,75.887,C,16496,352.0,117.0,mastercard,134.0,...,0.0,NaN,NaN,NaN,M0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590534,3577534,0,15811030,67.505,C,5812,408.0,185.0,mastercard,224.0,...,0.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
590536,3577536,0,15811049,39.500,W,10444,225.0,150.0,mastercard,224.0,...,0.0,T,F,F,M0,F,T,F,F,F
590537,3577537,0,15811079,30.950,W,12037,595.0,150.0,mastercard,224.0,...,0.0,T,F,F,NaN,NaN,T,NaN,NaN,NaN
590538,3577538,0,15811088,117.000,W,7826,481.0,150.0,mastercard,224.0,...,22.0,T,T,T,M0,F,T,NaN,NaN,NaN
590539,3577539,0,15811131,279.950,W,15066,170.0,150.0,mastercard,102.0,...,1.0,T,F,F,NaN,NaN,T,F,F,F

In [9]:
mc_fraud = transactions.loc[(transactions['card4'] == 'mastercard') & (transactions['isFraud'] == 1)]
mc_fraud

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,D15,M1,M2,M3,M4,M5,M6,M7,M8,M9
367,2987367,1,92350,225.000,R,4425,562.0,150.0,mastercard,197.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,2987405,1,92999,90.570,C,4504,500.0,185.0,mastercard,219.0,...,0.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
630,2987630,1,97843,12.326,C,5812,408.0,185.0,mastercard,224.0,...,2.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
683,2987683,1,99584,124.344,C,5812,408.0,185.0,mastercard,224.0,...,2.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
779,2987779,1,102154,10.000,S,7481,364.0,146.0,mastercard,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590103,3577103,1,15802102,38.414,C,2021,177.0,185.0,mastercard,137.0,...,0.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
590308,3577308,1,15806122,934.000,W,10486,514.0,150.0,mastercard,219.0,...,4.0,T,T,T,M0,F,T,T,T,T
590327,3577327,1,15806478,934.000,W,10486,514.0,150.0,mastercard,219.0,...,4.0,T,T,T,M0,F,T,T,T,T
590351,3577351,1,15807131,125.665,C,3289,176.0,185.0,mastercard,224.0,...,0.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN
590364,3577364,1,15807516,69.964,C,5812,408.0,185.0,mastercard,224.0,...,20.0,NaN,NaN,NaN,M2,NaN,NaN,NaN,NaN,NaN

In [10]:
disc_nfraud = transactions.loc[(transactions['card4'] == 'discover') & (transactions['isFraud'] == 0)]
disc_nfraud

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,D15,M1,M2,M3,M4,M5,M6,M7,M8,M9
0,2987000,0,86400,68.50,W,13926,NaN,150.0,discover,142.0,...,0.0,T,T,T,M2,F,T,NaN,NaN,NaN
135,2987135,0,88671,3000.00,W,2616,NaN,150.0,discover,102.0,...,0.0,T,F,F,NaN,NaN,T,F,F,T
223,2987223,0,89948,54.00,W,2616,NaN,150.0,discover,102.0,...,82.0,T,T,T,M0,F,T,T,F,T
360,2987360,0,92221,226.00,W,2616,NaN,150.0,discover,102.0,...,0.0,T,T,F,M0,F,T,NaN,NaN,NaN
451,2987451,0,93931,59.00,W,6344,327.0,150.0,discover,166.0,...,100.0,T,T,T,M1,T,F,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589811,3576811,0,15795887,179.97,W,2616,327.0,150.0,discover,102.0,...,61.0,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN
589935,3576935,0,15798539,226.00,W,2616,327.0,150.0,discover,102.0,...,616.0,NaN,NaN,NaN,M0,T,T,NaN,NaN,NaN
589946,3576946,0,15798730,49.00,W,16533,553.0,150.0,discover,142.0,...,351.0,T,T,T,M0,F,F,NaN,NaN,NaN
590118,3577118,0,15802377,54.50,W,8139,327.0,150.0,discover,194.0,...,16.0,T,T,T,M0,F,F,F,F,T
590490,3577490,0,15810157,379.95,W,2616,327.0,150.0,discover,102.0,...,347.0,T,T,T,NaN,NaN,T,T,T,T

In [11]:
disc_fraud = transactions.loc[(transactions['card4'] == 'discover') & (transactions['isFraud'] == 1)]
disc_fraud

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,D15,M1,M2,M3,M4,M5,M6,M7,M8,M9
2598,2989598,1,147621,100.00,S,2616,327.0,150.0,discover,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8629,2995629,1,255754,100.00,S,2616,327.0,150.0,discover,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8769,2995769,1,257703,49.00,W,2616,327.0,150.0,discover,102.0,...,NaN,T,T,T,M0,T,F,NaN,NaN,NaN
10339,2997339,1,319679,150.00,H,2616,327.0,150.0,discover,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11855,2998855,1,342294,117.00,W,2616,327.0,150.0,discover,102.0,...,NaN,T,T,T,M1,T,F,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583055,3570055,1,15595541,30.00,S,2616,327.0,150.0,discover,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
584743,3571743,1,15631810,2480.06,W,2616,327.0,150.0,discover,102.0,...,0.0,T,T,T,NaN,NaN,T,F,F,T
586825,3573825,1,15706107,213.00,W,2616,327.0,150.0,discover,102.0,...,0.0,T,T,T,M0,F,T,F,F,T
588607,3575607,1,15770587,100.00,S,2616,327.0,150.0,discover,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
588854,3575854,1,15777176,974.00,W,2616,327.0,150.0,discover,102.0,...,5.0,T,T,T,M0,F,T,F,F,T

In [12]:
transactions.groupby('TransactionID')['TransactionAmt'].agg('mean')

TransactionID
2987000     68.50
2987001     29.00
2987002     59.00
2987003     50.00
2987004     50.00
            ...
3577535     49.00
3577536     39.50
3577537     30.95
3577538    117.00
3577539    279.95
Name: TransactionAmt, Length: 590540, dtype: float64

In [13]:
identity = pd.read_csv('C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\train_identity.csv')
identity

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,3577521,-15.0,145955.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,F3111 Build/33.3.A.1.97
144229,3577526,-5.0,172059.0,NaN,NaN,1.0,-5.0,NaN,NaN,NaN,...,chrome 55.0 for android,32.0,855x480,match_status:2,T,F,T,F,mobile,A574BL Build/NMF26F
144230,3577529,-20.0,632381.0,NaN,NaN,-1.0,-36.0,NaN,NaN,NaN,...,chrome 65.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,Moto E (4) Plus Build/NMA26.42-152
144231,3577531,-5.0,55528.0,0.0,0.0,0.0,-7.0,NaN,NaN,0.0,...,chrome 66.0,24.0,2560x1600,match_status:2,T,F,T,F,desktop,MacOS
144232,3577534,-45.0,339406.0,NaN,NaN,-10.0,-100.0,NaN,NaN,NaN,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,RNE-L03 Build/HUAWEIRNE-L03

In [14]:
joined_it = pd.merge(transactions, identity, on='TransactionID', how='inner')
joined_it

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0,86506,50.000,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,0,86535,15.000,H,2803,100.0,150.0,visa,226.0,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,0,86549,75.887,C,16496,352.0,117.0,mastercard,134.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,0,86555,16.495,C,4461,375.0,185.0,mastercard,224.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0,86620,30.000,H,1790,555.0,150.0,visa,226.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,3577521,0,15810802,48.877,C,12019,305.0,106.0,mastercard,224.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,F3111 Build/33.3.A.1.97
144229,3577526,1,15810876,250.000,R,1214,174.0,150.0,visa,226.0,...,chrome 55.0 for android,32.0,855x480,match_status:2,T,F,T,F,mobile,A574BL Build/NMF26F
144230,3577529,0,15810912,73.838,C,5096,555.0,185.0,mastercard,137.0,...,chrome 65.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,Moto E (4) Plus Build/NMA26.42-152
144231,3577531,0,15810935,400.000,R,6019,583.0,150.0,visa,226.0,...,chrome 66.0,24.0,2560x1600,match_status:2,T,F,T,F,desktop,MacOS
144232,3577534,0,15811030,67.505,C,5812,408.0,185.0,mastercard,224.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,RNE-L03 Build/HUAWEIRNE-L03

In [15]:
visa_f = joined_it.loc[(joined_it['card4'] == 'visa') & (joined_it['isFraud'] == 1)]
visa_f

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
52,2987240,1,90193,37.098,C,13413,103.0,185.0,visa,137.0,...,chrome 54.0 for android,NaN,NaN,NaN,F,F,T,T,mobile,Redmi Note 4 Build/MMB29M
53,2987243,1,90246,37.098,C,13413,103.0,185.0,visa,137.0,...,chrome 54.0 for android,NaN,NaN,NaN,F,F,T,T,mobile,Redmi Note 4 Build/MMB29M
54,2987245,1,90295,37.098,C,13413,103.0,185.0,visa,137.0,...,chrome 54.0 for android,NaN,NaN,NaN,F,F,T,T,mobile,Redmi Note 4 Build/MMB29M
69,2987288,1,90986,155.521,C,16578,545.0,185.0,visa,226.0,...,chrome 62.0 for ios,NaN,NaN,NaN,F,F,F,F,mobile,NaN
271,2987869,1,106603,83.380,C,9026,545.0,185.0,visa,137.0,...,ie,NaN,NaN,NaN,F,T,T,T,desktop,Windows NT 6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144155,3577087,1,15801801,38.414,C,9026,545.0,185.0,visa,137.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,XT1635-02 Build/NPN26.118-22-2
144164,3577147,1,15802899,38.414,C,1164,545.0,185.0,visa,137.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,XT1635-02 Build/NPN26.118-22-2
144201,3577347,1,15807005,450.000,H,6872,587.0,150.0,visa,226.0,...,chrome 65.0,24.0,1600x1200,match_status:2,T,F,T,T,desktop,Windows
144203,3577354,1,15807171,125.665,C,14337,228.0,106.0,visa,137.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,SM-G610F Build/NRD90M
144229,3577526,1,15810876,250.000,R,1214,174.0,150.0,visa,226.0,...,chrome 55.0 for android,32.0,855x480,match_status:2,T,F,T,F,mobile,A574BL Build/NMF26F

In [16]:
#visa_f.to_csv(r'C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\\visa_fraud.csv', index = False)

In [17]:
visa_nf = joined_it.loc[(joined_it['card4'] == 'visa') & (joined_it['isFraud'] == 0)]
visa_nf

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
1,2987008,0,86535,15.000,H,2803,100.0,150.0,visa,226.0,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
4,2987016,0,86620,30.000,H,1790,555.0,150.0,visa,226.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS
6,2987022,0,86786,50.000,H,1724,583.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2987040,0,87209,75.887,C,13329,569.0,117.0,visa,226.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
9,2987048,0,87317,42.294,C,15885,545.0,185.0,visa,138.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144221,3577478,0,15809945,24.422,C,6019,583.0,150.0,visa,226.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,F,desktop,Windows
144222,3577486,0,15810107,41.315,C,15885,545.0,185.0,visa,138.0,...,chrome 67.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,SM-G950F Build/R16NW
144223,3577495,0,15810221,100.000,H,9749,181.0,150.0,visa,226.0,...,chrome 66.0,24.0,1280x1024,match_status:2,T,F,T,T,desktop,Windows
144227,3577509,0,15810491,28.527,C,16136,204.0,185.0,visa,138.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,SM-G930F Build/NRD90M
144231,3577531,0,15810935,400.000,R,6019,583.0,150.0,visa,226.0,...,chrome 66.0,24.0,2560x1600,match_status:2,T,F,T,F,desktop,MacOS

In [18]:
#visa_nf.to_csv(r'C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\\visa_nfraud.csv', index = False)

In [19]:
mastercard_f = joined_it.loc[(joined_it['card4'] == 'mastercard') & (joined_it['isFraud'] == 1)]
mastercard_f

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
86,2987367,1,92350,225.000,R,4425,562.0,150.0,mastercard,197.0,...,firefox,24.0,1440x900,match_status:2,T,F,T,F,desktop,rv:52.0
98,2987405,1,92999,90.570,C,4504,500.0,185.0,mastercard,219.0,...,mobile safari 11.0,NaN,NaN,NaN,F,F,F,T,mobile,NaN
185,2987630,1,97843,12.326,C,5812,408.0,185.0,mastercard,224.0,...,firefox 57.0,NaN,NaN,NaN,F,F,F,T,desktop,Windows
201,2987683,1,99584,124.344,C,5812,408.0,185.0,mastercard,224.0,...,firefox 57.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
235,2987779,1,102154,10.000,S,7481,364.0,146.0,mastercard,166.0,...,chrome generic,32.0,1024x600,match_status:2,T,F,T,T,mobile,KFFOWI Build/LVY48F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144154,3577084,1,15801760,38.414,C,14276,177.0,185.0,mastercard,137.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,XT1635-02 Build/NPN26.118-22-2
144156,3577092,1,15801846,38.414,C,14276,177.0,185.0,mastercard,137.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,XT1635-02 Build/NPN26.118-22-2
144160,3577103,1,15802102,38.414,C,2021,177.0,185.0,mastercard,137.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,XT1635-02 Build/NPN26.118-22-2
144202,3577351,1,15807131,125.665,C,3289,176.0,185.0,mastercard,224.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,SM-G610F Build/NRD90M
144204,3577364,1,15807516,69.964,C,5812,408.0,185.0,mastercard,224.0,...,samsung browser 6.4,NaN,NaN,NaN,F,F,T,F,mobile,SAMSUNG SM-J700M Build/MMB29K

In [20]:
#mastercard_f.to_csv(r'C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\\mastercard_fraud.csv', index = False)

In [21]:
mastercard_nf = joined_it.loc[(joined_it['card4'] == 'mastercard') & (joined_it['isFraud'] == 0)]
mastercard_nf

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0,86506,50.000,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
2,2987010,0,86549,75.887,C,16496,352.0,117.0,mastercard,134.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,0,86555,16.495,C,4461,375.0,185.0,mastercard,224.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
5,2987017,0,86668,100.000,H,11492,111.0,150.0,mastercard,219.0,...,chrome 62.0,24.0,1366x768,match_status:2,T,F,T,T,desktop,Windows
10,2987049,0,87317,3.595,C,12730,266.0,185.0,mastercard,224.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144225,3577501,0,15810344,58.512,C,3154,408.0,185.0,mastercard,224.0,...,firefox 60.0,NaN,NaN,NaN,F,F,T,F,desktop,Windows
144226,3577506,0,15810402,200.000,H,16075,514.0,150.0,mastercard,102.0,...,ie 11.0 for desktop,24.0,1600x900,match_status:2,T,T,T,T,desktop,Trident/7.0
144228,3577521,0,15810802,48.877,C,12019,305.0,106.0,mastercard,224.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,F3111 Build/33.3.A.1.97
144230,3577529,0,15810912,73.838,C,5096,555.0,185.0,mastercard,137.0,...,chrome 65.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,Moto E (4) Plus Build/NMA26.42-152
144232,3577534,0,15811030,67.505,C,5812,408.0,185.0,mastercard,224.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,RNE-L03 Build/HUAWEIRNE-L03

In [22]:
#mastercard_nf.to_csv(r'C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\\mastercard_nfraud.csv', index = False)

In [23]:
discover_f = joined_it.loc[(joined_it['card4'] == 'discover') & (joined_it['isFraud'] == 1)]
discover_f

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
519,2989598,1,147621,100.0,S,2616,327.0,150.0,discover,223.0,...,chrome 62.0,32.0,801x480,match_status:2,T,F,T,T,mobile,NaN
1778,2995629,1,255754,100.0,S,2616,327.0,150.0,discover,223.0,...,chrome 62.0,32.0,801x480,match_status:2,T,F,T,T,mobile,NaN
2264,2997339,1,319679,150.0,H,2616,327.0,150.0,discover,102.0,...,chrome 59.0 for android,32.0,1280x720,match_status:2,T,F,T,T,mobile,SM-G550T Build/MMB29K
3704,3002976,1,430109,175.0,S,2616,327.0,150.0,discover,223.0,...,chrome 62.0,32.0,2560x1440,match_status:2,T,F,T,T,desktop,NaN
3709,3003014,1,430475,175.0,S,2616,327.0,150.0,discover,223.0,...,chrome 62.0,32.0,2560x1440,match_status:2,T,F,T,T,desktop,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142758,3569379,1,15550874,30.0,S,2616,327.0,150.0,discover,223.0,...,chrome 66.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
142765,3569467,1,15553135,30.0,S,2616,327.0,150.0,discover,223.0,...,chrome 66.0,24.0,1600x900,match_status:2,T,F,T,T,desktop,Windows
142897,3570053,1,15595291,30.0,S,2616,327.0,150.0,discover,223.0,...,chrome 66.0,24.0,1600x900,match_status:2,T,F,T,T,desktop,Windows
142898,3570055,1,15595541,30.0,S,2616,327.0,150.0,discover,223.0,...,firefox 60.0,24.0,1600x900,match_status:2,T,F,T,T,desktop,Windows
143876,3575607,1,15770587,100.0,S,2616,327.0,150.0,discover,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#discover_f.to_csv(r'C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\\discover_fraud.csv', index = False)

In [25]:
discover_nf = joined_it.loc[(joined_it['card4'] == 'discover') & (joined_it['isFraud'] == 0)]
discover_nf

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
193,2987648,0,98339,25.0,S,2616,327.0,150.0,discover,223.0,...,edge 15.0,24.0,NaN,match_status:2,T,F,T,T,desktop,Windows
267,2987855,0,105877,75.0,H,2616,327.0,150.0,discover,102.0,...,mobile safari generic,32.0,2001x1125,match_status:2,T,F,T,T,mobile,iOS Device
361,2988667,0,137335,50.0,R,2616,327.0,150.0,discover,102.0,...,chrome 62.0,24.0,1024x768,match_status:2,T,F,T,F,desktop,Windows
362,2988672,0,137422,50.0,R,2616,327.0,150.0,discover,102.0,...,chrome 62.0,24.0,1024x768,match_status:2,T,F,T,F,desktop,Windows
363,2988678,0,137542,50.0,R,2616,327.0,150.0,discover,102.0,...,chrome 62.0,24.0,1024x768,match_status:2,T,F,T,F,desktop,Windows
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143718,3574716,0,15723540,200.0,S,2616,327.0,150.0,discover,223.0,...,chrome 66.0,24.0,1920x1080,match_status:2,T,F,T,T,desktop,Windows
143749,3574915,0,15727727,75.0,H,6344,327.0,150.0,discover,224.0,...,edge 17.0,24.0,1920x1080,match_status:2,T,F,T,T,desktop,Windows
143915,3575805,0,15776352,150.0,R,2616,327.0,150.0,discover,102.0,...,chrome 66.0,24.0,1920x1080,match_status:2,T,F,T,F,desktop,Windows
143969,3576096,0,15781980,100.0,R,2616,327.0,150.0,discover,102.0,...,mobile safari 11.0,32.0,2208x1242,match_status:2,T,F,F,F,mobile,iOS Device
143991,3576181,0,15783906,50.0,H,6054,327.0,150.0,discover,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device

In [26]:
#discover_nf.to_csv(r'C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\\discover_nfraud.csv', index = False)

In [27]:
amex_f = joined_it.loc[(joined_it['card4'] == 'american express') & (joined_it['isFraud'] == 1)] 
amex_f

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
630,2990196,1,153263,225.0,R,12786,399.0,150.0,american express,102.0,...,chrome 62.0,24.0,1920x1080,match_status:2,T,F,T,F,desktop,Windows
631,2990200,1,153305,225.0,R,12786,399.0,150.0,american express,102.0,...,chrome 62.0,24.0,1920x1080,match_status:2,T,F,T,F,desktop,Windows
3585,3002413,1,422869,150.0,R,8856,399.0,150.0,american express,118.0,...,mobile safari 10.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
4101,3004339,1,468557,200.0,R,10630,399.0,150.0,american express,185.0,...,chrome 62.0 for android,32.0,1920x1080,match_status:2,T,F,T,F,mobile,Z983 Build/NMF26F
5581,3009041,1,579392,200.0,H,1394,399.0,150.0,american express,185.0,...,mobile safari 11.0,32.0,2048x1536,match_status:1,T,F,F,T,mobile,iOS Device
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139270,3550978,1,14939634,75.0,H,9777,555.0,150.0,american express,199.0,...,mobile safari 10.0,32.0,2048x1536,match_status:1,T,F,F,T,mobile,iOS Device
139406,3551737,1,14953518,100.0,R,14174,399.0,150.0,american express,185.0,...,mobile safari 11.0,32.0,2208x1242,match_status:1,T,F,F,F,mobile,iOS Device
143291,3572414,1,15646897,100.0,H,7709,399.0,150.0,american express,150.0,...,chrome 49.0,24.0,1440x900,match_status:2,T,T,T,T,desktop,Windows
143708,3574676,1,15722797,5.0,S,4632,399.0,150.0,american express,146.0,...,chrome 66.0,24.0,1920x1080,match_status:2,T,F,T,T,desktop,Windows
144206,3577368,1,15807677,100.0,H,6758,399.0,150.0,american express,146.0,...,mobile safari 11.0,32.0,2208x1242,match_status:1,T,F,F,T,mobile,iOS Device

In [28]:
#amex_f.to_csv(r'C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\\amex_fraud.csv', index = False)

In [29]:
amex_nf = joined_it.loc[(joined_it['card4'] == 'american express') & (joined_it['isFraud'] == 0)]
amex_nf

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
7,2987038,0,87172,25.0,S,5463,399.0,150.0,american express,137.0,...,chrome 62.0,32.0,1920x1080,match_status:2,T,F,T,T,mobile,NaN
27,2987119,0,88484,100.0,H,2456,399.0,150.0,american express,118.0,...,chrome 61.0,24.0,5120x2880,match_status:2,T,F,T,T,desktop,MacOS
34,2987145,0,88805,100.0,R,8260,399.0,150.0,american express,150.0,...,mobile safari 11.0,32.0,2048x1536,match_status:1,T,F,F,F,mobile,iOS Device
71,2987311,0,91343,50.0,H,16984,399.0,150.0,american express,236.0,...,safari generic,24.0,1600x900,NaN,T,F,T,T,desktop,MacOS
83,2987355,0,92158,500.0,R,3869,399.0,150.0,american express,150.0,...,safari generic,24.0,1440x900,match_status:2,T,F,T,F,desktop,MacOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144117,3576894,0,15797682,40.0,S,2453,399.0,150.0,american express,137.0,...,chrome 56.0 for android,32.0,1024x768,match_status:2,T,F,T,T,mobile,SM-T350 Build/MMB29M
144210,3577418,0,15808918,150.0,R,7903,399.0,150.0,american express,137.0,...,chrome 66.0 for android,24.0,1920x1080,match_status:2,T,F,T,F,mobile,SM-G930T Build/NRD90M
144213,3577442,0,15809393,100.0,R,18038,520.0,150.0,american express,190.0,...,ie 11.0 for desktop,24.0,1024x768,NaN,T,F,F,T,desktop,Trident/7.0
144216,3577451,0,15809554,200.0,R,16434,399.0,150.0,american express,146.0,...,google,32.0,2001x1125,match_status:2,T,F,T,F,mobile,iOS Device
144217,3577465,0,15809790,250.0,R,13309,399.0,150.0,american express,150.0,...,safari 11.0,24.0,2560x1440,match_status:2,T,F,F,F,desktop,MacOS

In [30]:
#amex_nf.to_csv(r'C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\\amex_nfraud.csv', index = False)

In [31]:
fraud_charges = pd.concat([visa_f,mastercard_f,discover_f,amex_f])
fraud_charges

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
52,2987240,1,90193,37.098,C,13413,103.0,185.0,visa,137.0,...,chrome 54.0 for android,NaN,NaN,NaN,F,F,T,T,mobile,Redmi Note 4 Build/MMB29M
53,2987243,1,90246,37.098,C,13413,103.0,185.0,visa,137.0,...,chrome 54.0 for android,NaN,NaN,NaN,F,F,T,T,mobile,Redmi Note 4 Build/MMB29M
54,2987245,1,90295,37.098,C,13413,103.0,185.0,visa,137.0,...,chrome 54.0 for android,NaN,NaN,NaN,F,F,T,T,mobile,Redmi Note 4 Build/MMB29M
69,2987288,1,90986,155.521,C,16578,545.0,185.0,visa,226.0,...,chrome 62.0 for ios,NaN,NaN,NaN,F,F,F,F,mobile,NaN
271,2987869,1,106603,83.380,C,9026,545.0,185.0,visa,137.0,...,ie,NaN,NaN,NaN,F,T,T,T,desktop,Windows NT 6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139270,3550978,1,14939634,75.000,H,9777,555.0,150.0,american express,199.0,...,mobile safari 10.0,32.0,2048x1536,match_status:1,T,F,F,T,mobile,iOS Device
139406,3551737,1,14953518,100.000,R,14174,399.0,150.0,american express,185.0,...,mobile safari 11.0,32.0,2208x1242,match_status:1,T,F,F,F,mobile,iOS Device
143291,3572414,1,15646897,100.000,H,7709,399.0,150.0,american express,150.0,...,chrome 49.0,24.0,1440x900,match_status:2,T,T,T,T,desktop,Windows
143708,3574676,1,15722797,5.000,S,4632,399.0,150.0,american express,146.0,...,chrome 66.0,24.0,1920x1080,match_status:2,T,F,T,T,desktop,Windows
144206,3577368,1,15807677,100.000,H,6758,399.0,150.0,american express,146.0,...,mobile safari 11.0,32.0,2208x1242,match_status:1,T,F,F,T,mobile,iOS Device

In [32]:
#fraud_charges.to_csv(r'C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\\fraud_transactions.csv', index = False)

In [33]:
valid_charges = pd.concat([visa_nf,mastercard_nf,discover_nf,amex_nf])
valid_charges

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
1,2987008,0,86535,15.000,H,2803,100.0,150.0,visa,226.0,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
4,2987016,0,86620,30.000,H,1790,555.0,150.0,visa,226.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS
6,2987022,0,86786,50.000,H,1724,583.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2987040,0,87209,75.887,C,13329,569.0,117.0,visa,226.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
9,2987048,0,87317,42.294,C,15885,545.0,185.0,visa,138.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144117,3576894,0,15797682,40.000,S,2453,399.0,150.0,american express,137.0,...,chrome 56.0 for android,32.0,1024x768,match_status:2,T,F,T,T,mobile,SM-T350 Build/MMB29M
144210,3577418,0,15808918,150.000,R,7903,399.0,150.0,american express,137.0,...,chrome 66.0 for android,24.0,1920x1080,match_status:2,T,F,T,F,mobile,SM-G930T Build/NRD90M
144213,3577442,0,15809393,100.000,R,18038,520.0,150.0,american express,190.0,...,ie 11.0 for desktop,24.0,1024x768,NaN,T,F,F,T,desktop,Trident/7.0
144216,3577451,0,15809554,200.000,R,16434,399.0,150.0,american express,146.0,...,google,32.0,2001x1125,match_status:2,T,F,T,F,mobile,iOS Device
144217,3577465,0,15809790,250.000,R,13309,399.0,150.0,american express,150.0,...,safari 11.0,24.0,2560x1440,match_status:2,T,F,F,F,desktop,MacOS

In [34]:
#valid_charges.to_csv(r'C:\\Users\\Danny\\Desktop\\GITHUB\\capstone_3\\\valid_transactions.csv', index = False)